<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chennyh.bbgunews.dao.CommentsMapper">
  <resultMap id="BaseResultMap" type="Comments">
    <!--@mbg.generated-->
    <!--@Table comments-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_wx_id" jdbcType="BIGINT" property="userWxId" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="context" jdbcType="LONGVARCHAR" property="context" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_wx_id, article_id, context, create_time, update_time
  </sql>
</mapper>
